<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<!--    <event name="checkout_cart_product_add_before">-->
<!--        <observer name="add_product_sale" instance="Elogic\Sale\Observer\AddProductSaleObserver"/>-->
<!--    </event>-->
<!--    <event name="checkout_cart_save_before">-->
<!--        <observer name="update_products_sale" instance="Elogic\Sale\Observer\UpdateProductSaleObserver"/>-->
<!--    </event>-->
</config>